{%extends 'base.html'%} {%block body%}
<title>Uploading & Tagging Resource</title>
<header><center>This is the Uploading & Tagging Resource page</center></header>

<form action="resourceUploadTagging" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table border="1" align="center">
    <tr>
      <td>
        <input type="file" placeholder="Upload File" name="upload_file" /><br>
		<input type="file" placeholder="Upload File1" name="upload_file1" /><br>
		<input type="file" placeholder="Upload File2" name="upload_file2" /><br>
		<input type="file" placeholder="Upload File3" name="upload_file3" /><br>
		<input type="text" placeholder="Resource Name" name="resourceName" /><br>
		<input type="text" placeholder="Subject" name="subject" /><br>
		<input type="text" placeholder="Grade" name="grade" /><br>
      </td>
    </tr>
	<tr>
		<td>
			<textarea name="keywords" placeholder="Keywords/Tags - CSV" rows="4" cols="50" style="font-size: 16px;"></textarea><br>
		</td>
	</tr>
    
	<tr>
      <td align="center">
        <input type="submit" name="Submit" />
      </td>
    </tr>
  </table>
</form>
{%endblock%}
