{%extends 'base.html'%}
{%block body%}
<title>HOMEPAGE</title>

<center>
{%if user.is_authenticated%}
    <header>WELCOME TO THE HOMEPAGE {{user.username}}, CHOOSE YOUR DIRECTION</header>

    <a href="logout">Logout</a><br><br>

    {% if userRole == "adminUser" %}
        <p>ROLE: ADMINISTRATOR</p>
        <a href="resourceSearch">Search For Resources</a><br><br>
        <a href="resourceUpload">Upload a resource to the platform</a><br><br><br><br>
        <a href="moderationPage">Moderate a Resource</a><br><br>
        <a href="reportPage">Report a Resource</a><br><br>
        <a href="resourceSearch">Search For Resources</a><br><br>
        <a href="reportPage">Report a Resource</a><br><br>
        <a href="ratingPage">Rate a Resource</a><br><br><br><br>
        <a href="faqs">See Frequently asked questions</a><br><br>

    {% elif userRole == "moderatorUser" %}
        <p>ROLE: MODERATOR</p>    
        <a href="resourceSearch">Search For Resources</a><br><br>
        <a href="resourceUpload">Upload a resource to the platform</a><br><br><br><br>
        <a href="ratingPage">Rate a Resource</a><br><br><br><br>
        <a href="faqs">See Frequently asked questions</a><br><br>
        <a href="moderationPage">Moderate a Resource</a><br><br>

    {% elif userRole == "educatorUser" %}
        <p>ROLE: EDUCATOR</p>
        <a href="resourceSearch">Search For Resources</a><br><br>
        <a href="resourceUpload">Upload a resource to the platform</a><br><br><br><br>
        <a href="ratingPage">Rate a Resource</a><br><br><br><br>
        <a href="faqs">See Frequently asked questions</a><br><br>

    {% else %}
        <p>ROLE: OPEN ACCESS USER</p>
        <a href="resourceSearch">Search For Resources</a><br><br>
        <a href="ratingPage">Rate a Resource</a><br><br><br><br>
        <a href="faqs">See Frequently asked questions</a><br><br>
    {% endif %}

{%else%}
    <header>WELCOME TO THE HOMEPAGE, CHOOSE YOUR DIRECTION</header>
    <a href="loginpage">Login</a><br><br>
    <a href="registerpage">SignUp - Create Account</a><br><br><br><br>

    <p>ROLE: OPEN ACCESS USER</p>

    <a href="resourceSearch">Search For Resources</a><br><br>
    <a href="ratingPage">Rate a Resource</a><br><br><br><br>
    <a href="faqs">See Frequently asked questions</a><br><br>

{%endif%}
</center>

{%endblock%}