{%extends 'base.html'%}
{%block body%}
<title>ChangePassword</title>
<header><center>This is the Change Password page</center></header>

<form action="/" method="POST">
    <center><input type="submit" value="Back" name="backButton" /></center>
</form>

<form action="changePassword" method="POST">
    {% csrf_token %}
    <table border="1" align="center">
        <tr>
            <td>
                <input type="password" placeholder="New Password" name="newPassword" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" />
				<input type="hidden" value={{email}} name="email"/>
            </td>
        </tr>
        <tr>

            <td align="center">
                <input type="submit" name="newPasswordBtn" />
            </td>
        </tr>
    </table>
</form>
 
{%endblock%}