{%extends 'base.html'%}
{%block body%}
<title>PASSWORD RESET</title>
<header><center>FORGOT PASSWORD</center></header>

<form action="/" method="POST">
    {% csrf_token %}
    <center><input type="submit" value="Back" name="backButton" /></center>
</form>

<form action="resetPassword" method="POST">
    {% csrf_token %}
    <table border="1" align="center">
        <tr>
            <td>
                <input type="text" placeholder="Email" name="email" />
            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="submit" name="getCode" />
            </td>
        </tr>
    </table>
</form>
 
{%endblock%}