{%extends 'base.html'%}
{%block body%}
<title>Report Resource</title>
<header><center>Report Resource</center></header>

<form action="/" method="POST">
    {% csrf_token %}
    <center><input type="submit" value="Back" name="backButton" /></center>
</form>

<center>A verification code has been sent to {{email}}, you have 5 minutes to enter the code below</center>
<form action="validateCode" method="POST">
    {% csrf_token %}
    <table border="1" align="center">
        <tr>
            <td>
                <input type="text" placeholder="Enter verification code here" name="code" />
                <input type="hidden" value={{email}} name="email" />
            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="submit" name="submitCode" />
            </td>
        </tr>
    </table>
</form>
 
{%endblock%}