{%extends 'base.html'%} {%block body%}
<title>Update User Role</title>
<header><center>This Update User Role page</center></header>

<form action="fileStorage" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <p></p>
    User ID:
  </p>
  <input type="text" placeholder="User ID" name="user_id" />

  <p>
    Role:
  </p>
  <select id="status" name="mod_status">
    <option value="adminUser">Admin</option>
    <option value="moderatorUser">Moderator</option>
    <option value="educatorUser">Educator</option>
  </select>

  <br>
  <br>

  <input type="submit" name="Update" value="Update"/>
</form>
{%endblock%}
